<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DocumentDB" version="1.17.0" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="5.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="2.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="2.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.7.198" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="SerilogMetrics" version="2.0.3" targetFramework="net461" />
</packages>